/* GENERAL SETTINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* JS UTILITIES */

.hidden {
    opacity: 0;
    left: 0;
    transition: opacity .7s .4s,
                left 1s .4s ease-in-out;
}
.show {
    opacity: 1;
    left: 45%;
    transition: opacity .8s,
                left 1.5s ease-out;
}

/* MAIN */
.main {
    height: 100vh;
    display: flex;
}

/* FORM RICHIESTA DATI */

.richiesta-dati {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 500px;
    box-shadow: 5px 0px 15px 5px rgba(0, 0, 0, .5);
    background: #ffe0a6;
}

.richiesta-title {
    font-family: monospace;
    color: #dd6c55;
    line-height: .8;
    font-size: 42px;
    font-weight: normal;
    letter-spacing: 4px;
    align-self: center;
    justify-self: flex-start;
    margin-bottom: 40px;
}

.richiesta-title span {
    font-weight: bold;
    letter-spacing: 0;
    font-size: 45px;
}

.richiesta-dati input {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 5px 0;
}

.richiesta-dati input {
    background: #dd6c55;
    color: #ffe0a6;
    text-align: center;
    font-size: 23px;
    border: none;
    outline: none;
    margin: 20px 0;
}

.richiesta-dati input::placeholder {
    color: #fdf0a9;
    text-align: center;
    opacity: 1;
}

.richiesta-dati input:focus::placeholder {
    color: #ffd0a6;
}

.richiesta-dati label  {
    display: block;
    font-size: 20px;
    text-align: center;
    color: #dd6c55;
    margin-top: 25px;

}

.richiesta-dati select,
.richiesta-dati button {
    display: block;
    background: #dd6c55;
    color: #ffe0a6;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.richiesta-dati select   {
    cursor: pointer;
    display: block;
    font-size: 20px;
    text-align: center;
    -webkit-appearance: none;
}

.richiesta-dati button {
    cursor: pointer;
    width: 180px;
    margin-top: 20px;
    padding: 10px;
}


/* DATI UTENTE */

.dati-passeggero {
    background: url('../img/bg.jpg');
    position: relative;
    height: 100%;
    width: 100%;
}

.filter {
    height: 100%;
    width: 100%;
    background: rgba(255, 238, 170, .2);
}

/* BIGLIETTO */

.dati-passeggero .biglietto {
    font-family: monospace;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: flex-end;
    height: 350px;
    width: 950px;
    background: #ffe0a6;
    clip-path: polygon(30px 0%, calc(100% - 30px) 0%, 100% 30px, 100% calc(100% - 30px), calc(100% - 30px) 100%, 30px 100%, 0% calc(100% - 30px), 0% 30px);
}

/* BANDA  */

.banda {
    margin-left: 70px;
    flex-basis: 80px;
    background: rgb(64, 39, 29);
}

.banda #ora-creazione {
    position: relative;
    top: 90%;
    left: 0;
    width: 100%;
    color: #ffe0a6;
    transform: rotate(270deg) translate(50%, 0);
}

/* COMPAGNIA */

.banda-compagnia {
    position: absolute;
    bottom: 0;
    left: 150px;
    width: 805px;
    height: 60px;
    background: #dd6c55;
}
.banda-compagnia:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 40px solid #ffe0a6;
    border-right: 50px solid #dd6c55;
    width: 450px;
}

.banda-compagnia h1 {
    color: #ffe0a6;
    position: absolute;
    font-size: 35px;
    right: 35px;
    bottom: 15px;
}

/* BIGLIETTO DATI */

.biglietto-dati {
    display: flex;
    height: 100%;
    flex-grow: 1;
    z-index: 1;
}

.biglietto-dati ul {
    list-style: none;
}

.biglietto-dati .info,
.biglietto-dati .info-extra {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.biglietto-dati .info {
    width: 50%;
    margin-left: 30px;
}

.biglietto-dati .info-extra {
    width: 50%;
    margin: 0 70px;
    justify-content: center;
}

.dati-passeggero .info li,
.dati-passeggero .info-extra li {
    color: #dd6c55;
    font-size: 18px;
    font-weight: normal;
}

.dati-passeggero .info-extra li {
    margin-bottom: 50px;
}

.dati-passeggero .info li p,
.dati-passeggero .info-extra li p {
    padding: 8px;
    border-radius: 3px;
    text-transform: capitalize;
    font-size: 21px;
    font-weight: bold;
    background: #dd6c55;
    color: #ffe0a6;
}

.dati-passeggero .info-extra #costo-tot {
    width: 200px;
}